body {
  color: #060b35;
  margin: 0;
  font-family: Roboto, serif;
  font-size: 12px;
  font-weight: 500;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  box-sizing: border-box;
  grid-template-columns: repeat(1, 200px);
  justify-content: center;
  gap: 46px 49px;
  padding: 50px 40px;
  display: grid;
}

@media (width >= 488px) {
  .main {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (width >= 768px) {
  .main {
    grid-template-columns: repeat(3, 200px);
  }
}

@media (width >= 1024px) {
  .main {
    grid-template-columns: repeat(4, 200px);
  }
}

.header {
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  line-height: 14px;
  display: flex;
  box-shadow: 0 2px 4px #0000000d;
}

.header__logo-img {
  width: 40px;
  height: 40px;
  display: flex;
}

.header__nav-list {
  gap: 20px;
  display: flex;
}

.header__nav-item {
  list-style: none;
}

.header__nav-link {
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  display: block;
  position: relative;
}

.is-active {
  color: #00acdc;
}

.is-active:after {
  content: "";
  background-color: #00acdc;
  border-radius: 8px;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -23px;
  left: 0;
}

.card {
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 200px;
  transition: background-color .3s, transform .3s, color .3s;
}

.card__container {
  flex-direction: column;
  align-items: center;
  width: 166px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 16px;
  display: flex;
}

.card__img {
  width: 160px;
  height: 134px;
}

.card__title {
  color: #060b35;
  margin: 40px 0 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.card__describe {
  color: #616070;
  align-self: start;
  margin-top: 4px;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}

.card__price {
  margin-top: 24px;
  display: flex;
}

.card__price-describe {
  color: #616070;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.card__price-summ {
  color: #060b35;
  margin: 0 0 0 86px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.card__button {
  cursor: pointer;
  box-sizing: border-box;
  color: #f3f3f3;
  text-transform: uppercase;
  background-color: #00acdc;
  border: none;
  border-radius: 5px;
  margin-top: 16px;
  padding: 12px 70px 12px 69px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.card:hover {
  transform: scale(1.2);
}

.card:hover .card__title {
  color: #34568b;
}

.card:hover .card__button {
  color: #00acdc;
  background-color: #fff;
  border: 1px solid #00acdc;
  padding: 11px 69px 11px 68px;
}

.stars {
  align-items: center;
  height: 16px;
  margin-top: 16px;
  display: flex;
}

.stars__star {
  background-image: url("star.fa806e3c.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
  padding: 0;
}

.stars__star:last-child {
  margin-right: 0;
}

.stars__star--active:nth-child(-n+4) {
  background-image: url("star-active.2be54011.svg");
}

.stars__star-number {
  color: #060b35;
  margin: 0 0 0 17px;
  font-size: 10px;
  line-height: 14px;
}
/*# sourceMappingURL=index.e378193d.css.map */
